@import "./utils/mixins"
@import "./utils/utils"
@import "./utils/nav"

.bgImg
  position: absolute
  z-index: 0
  top:0
  padding-top: 150px
  width:100vw
  @include setBackground($size: cover, $position: top center, $color: var(--mainColor),$url: url("./../../../Assets/IMG/dbd_wallpaper.jpg"))

.gameDesc
  @include displayFlex($align: center, $flow: column nowrap,$gap: 2rem  )

.titleWhite
  font:
    size: 10vh
  text:
    align: center
  padding: 2rem
  color: var(--white)

.gameDesc>div
  @include displayFlex($align: stretch, $gap: 1rem)

.col
  flex: 1 1 45vw
  padding: 2rem 3rem
  color: var(--white)
  text:
    align: center

.col h2
  padding: 2rem
  font:
    size: 5.5vh
  text:
    transform: uppercase

.col p
  font:
    size: 3vh

.gameDesc a
  align-self: center

.platforms
  @include displayFlex($justify: space-around, $gap: 1rem)
  padding:3rem
  margin: 3rem 0
  @include setBorder(var(--white  ),3rem)
  box-shadow: 2px 0px 4px 1px var(--white), -2px 0px 4px 1px var(--white)

.platforms figure
  @include setBounds(160px,160px)
  padding: 3rem
  margin: 0 2rem
  @include setBackground($color: var(--white))
  @include setBorder(var(--mainColor), 50%)
  box-shadow: -1px -1px 4px 1px var(--mainColor) inset

    
.platforms figure img
  @include setBounds(100%,100%)

@media screen and (max-height:720px), screen and (max-width:1440px)
  .platforms figure
    @include setBounds(144px,144px)

  //1920, 1760, 1600, 1440, 1280, 1120, 960, 700, 540

@import "./utils/footer"