@import './mixins'

header
  @include setBounds(100%, 90vh)
  @include setBackground($position: center, $color: var(--mainColor),$url: url("./../../../Assets/IMG/dbd_wallpaper.jpg"))
  position: relative

.gameDesc
  @include displayFlex($align: stretch,$flow: column nowrap,$gap: 2rem)
  @include setBounds(100%,100%)

.titleWhite
  font:
    size: 10vh
  text:
    align: center
  color: var(--white)

.gameDesc>div
  @include displayFlex($align: stretch, $gap: 1rem)

.col
  flex: 1 1 40vw
  padding: 1rem 3rem
  color: var(--white)
  text:
    align: center

.col h2
  font:
    size: 5.5vh

.col p
  font:
    size: 2.25vh

.gameDesc a
  align-self: center

.navbar
  @include displayFlex($justify: space-between)
  position: absolute
  top: 1vh
  left: 5vw
  right: 5vw
  
.navbar figure
  top: 2vh
  left: 10vw
  @include setBounds(250px,150px) 

.logo
  @include setBounds(100%,100%)
  // filter: contrast(200%)
  filter: invert(85%)

.navbar ul
  @include displayFlex(center, center, row nowrap, 2rem)

.platforms
  @include displayFlex($justify: space-around, $gap: 1rem)
  position: absolute
  top:100%
  right:50%
  min-width:540px
  max-width:960px
  padding:3rem
  @include setTransform(translateX(50%), translateY(-50%))
  @include setBorder(var(--placeholders),3rem)
  box-shadow: 4px 0px 12px 4px var(--placeholders)

.platforms figure
  @include setBounds(160px,160px)
  padding: 3rem
  margin: 0 2rem
  @include setBackground($color: var(--thirdColor))
  @include setBorder(var(--black), 50%)
  box-shadow: 1rem 1rem 2rem 1rem var(--black)

    
.platforms figure img
  @include setBounds(100%,100%)

@media screen and (max-height:720px), screen and (max-width:1440px)
  .platforms figure
    @include setBounds(144px,144px)

  //1920, 1760, 1600, 1440, 1280, 1120, 960, 700, 540