@import "./mixins.sass"
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap')

*,*::before,*::after
  box-sizing: border-box
  margin:0
  padding:0
  list-style: none
  text-decoration: none

:root
  font:
    size: .625rem
    family: "Special Elite", cursive
  
  --alpha:1
  --main: 0,98%
  --mainL: 28%
  --secondary: 291,100%
  --secondaryL:30%
  --third: 45,32%
  --thirdL:77%
  --mainColor: hsla(var(--main),var(--mainL),var(--alpha))
  --secondaryColor: hsla(var(--secondary),var(--secondaryL),var(--alpha))
  --thirdColor: hsla(var(--third),var(--thirdL),var(--alpha))

  --placeholders:rgb(119,119,119)
  --black: #323232
  --white: #eeefff

  

body
  overflow-x: hidden
  min-height: 300vh

h1
  font-size: 2.8rem

h2
  font-size: 2.6rem

h3
  font-size: 2.4rem

.btn
  display: block
  padding: 1rem 4rem
  font:
    size: 1.6rem
    weight: bold
  letter-spacing: 1px
  border:
    style: none
    radius: 25px
  cursor: pointer
  @include setTransition(all .15s ease-in 0s)
  &:hover
    @include setTransform(scale(1.1))

.btnMain
  @include setButtonStyle(var(--mainColor),var(--white))
  &:hover
    @include setButtonStyle(hsla(var(--main),34%,var(--alpha)),var(--white))

.btnSecondary
  @include setButtonStyle(var(--secondaryColor),var(--white))
  &:hover
    @include setButtonStyle(hsla(var(--secondary),34%,var(--alpha)),var(--white))

.btnThird
  @include setButtonStyle(var(--thirdColor),var(--black))
  &:hover
    @include setButtonStyle(hsla(var(--third),65%,var(--alpha)),var(--black))

.btnNav
  @include setButtonStyle(hsla(0,0%,10%,.7),var(--white))
  text:
    transform: uppercase
  &:hover
    @include setButtonStyle(hsla(0,0%,90%,.7),var(--mainColor))

